#imgfundo {
    width: 100%;
    height: auto;
    align-content: center;
}

 #telaLogin {
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(214, 58, 30);
    box-shadow: 1px 5px 30px rgb(255, 231, 20);
}


body {
    font-family: "Poppins", sans-serif;
    height: 100vh;
    text-align: center;
    margin: 0;
}

input {
    text-align: center;
    background-color: #ffffff;
    margin-top: 15px;
    margin-bottom: 25px;
    padding: 15px 80px;
}

/*img {
    margin-top: 18px;
    margin-bottom: 18px;
    border-radius: 25%;
    height: 140px;
}*/

a {
    color: #ffffff;
    display: inline-block;
    text-decoration: none;
    font-weight: 400;
}

.wrapLink {
    display: flex;
    justify-content: space-around;
}
.underlineHover {
    margin-bottom: 15px;
}
.underlineHover:after {
    display: block;
    left: 0;
    bottom: -10px;
    width: 0;
    height: 2px;
    background-color: #fdc200;
    content: "";
    transition: width 0.2s;
}

.underlineHover:hover {
    color: #f8d300;
}

.underlineHover:hover:after {
    width: 100%;
}

.botaoLogin {
    background-color: rgb(244, 211, 104);
    padding: 15px 80px;
    text-transform: uppercase;
}

.modificaInput {
    padding: 15px 80px;
    border-style: none;
}
